.bk-web-breadcrumb {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;

  mat-icon {
    margin-right: 8px;
  }
}

mat-card-content {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}
@media (max-width: 1280px) {
}

@media (max-width: 640px) {
  .bk-web-breadcrumb {
    color: #fff;
    margin-bottom: 8px;
  }
  mat-card-content {
    margin: 12px;
    flex-flow: column wrap;
  }
}
