<a
  class="bk-web-breadcrumb"
  [routerLink]="['/home']"
  routerLinkActive="router-link-active"
>
  <mat-icon
    aria-hidden="false"
    aria-label="home icon"
    fontIcon="home"
  ></mat-icon>
  Home
</a>

<mat-card class="bw-web-card-details">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon
        aria-hidden="false"
        aria-label="money icon"
        scale="2"
        fontIcon="attach_money"
      ></mat-icon>
    </div>
    <mat-card-title>{{
      data?.otherParty?.name ? data.otherParty.name : "N/A"
    }}</mat-card-title>
    <mat-card-subtitle>{{ data?.description }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex-container">
      <div class="flex-item">
        <label>AMOUNT</label>
        <span class="bk-web-amount">{{
          (data?.currencyCode === "EUR"
            ? data?.amount
            : data?.amount * data?.currencyRate
          ) | currency : "EUR"
        }}</span>
      </div>
      <div class="flex-item">
        <label>DATE / TIME</label>
        <span>{{ getDate(data?.timestamp) }}</span>
        <span>{{ getTime(data?.timestamp) }}</span>
      </div>
      <div class="flex-item">
        <label>STATUS</label>
        <span>Done</span>
      </div>
      <div class="flex-item">
        <mat-chip
          [ngClass]="{ 'credited-chip': data?.amount > 0 }"
          color="#000"
          >{{ data?.amount > 0 ? "Credited" : "Debited" }}</mat-chip
        >
      </div>
    </div>
  </mat-card-content>
  <div class="bk-web-debit-card">
    <div class="flex-item"></div>
    <div class="flex-item">
      <label>via Card</label>
      <span
        >Ending with **{{
          data?.otherParty?.iban.substring(
            data?.otherParty?.iban.length - 2,
            data?.otherParty?.iban.length
          )
        }}</span
      >
    </div>
  </div>
</mat-card>
