:host {
  display: block;
  height: 100%;
  width: 100%;

  .flex-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;

    .flex-item {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-items: center;
      width: 50%;

      &__transaction {
        .bw-web-skeleton {
          width: 100%;
          margin: 20px 0px;
          padding: 16px;
          &-loader {
            display: block;
            width: 100%;
          }
        }

        .bk-web-accordion {
          width: 100%;
          margin: 10px 0px;

          mat-card-title {
            font-size: 16px;
            margin: 8px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            align-items: center;

            .mat-mdc-standard-chip.credited-chip {
              background-color: #03ad03;
            }

            .mat-mdc-standard-chip {
              background-color: #ff0000;
            }

            div {
              width: 33.3%;
              text-align: left;
            }
          }
          .mat-mdc-card-header {
            margin: 0 16px;
            padding: 0;
          }

          .bk-web-card {
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 8px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .flex-item-calendar {
      &__card {
        width: 300px;
      }
    }
  }
}
