:host {
  display: block;
  height: 100%;
  width: 100%;

  .flex-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;

    .flex-item {
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;
      width: 50%;
      height: 800px;
      max-height: 800px;
      overflow: auto;

      .bk-web-transaction-type {
        background: #fff;
        width: 500px;
        margin-bottom: 20px;
        padding: 4px;
        label {
          display: block;
        }
      }

      &__transaction {
        .bw-web-skeleton {
          width: 100%;
          margin: 20px 0px;
          padding: 16px;
          &-loader {
            display: block;
            width: 100%;
          }
        }

        .bk-web-accordion {
          width: 100%;
          margin: 4px 0px;

          .mat-expansion-panel:hover {
            background: #ffebeb;
          }

          mat-card-title {
            font-size: 16px;
            margin: 8px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            align-items: center;

            .mat-mdc-standard-chip.credited-chip {
              background-color: #03ad03;
            }

            .mat-mdc-standard-chip {
              background-color: #ff0000;
            }

            div {
              width: 33.3%;
              text-align: left;
            }
          }
          .mat-mdc-card-header {
            margin: 0 16px;
            padding: 0;
          }

          .bk-web-card {
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 8px;
            &:hover {
              cursor: pointer;
              background: #ddd;
            }
          }
        }

        .bk-web-no-data {
          width: 100%;
          height: 100%;
          font-size: 24px;
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }

    .flex-item-calendar {
      &__card {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1280px) {
  :host {
    .flex-container {
      .flex-item {
        height: 700px;
        max-height: 700px;
        overflow: auto;
        &__transaction {
          margin-top: 24px;
          .bk-web-accordion {
            .mat-mdc-card-header {
              margin: 0 4px;
            }
            mat-card-title {
              font-size: 14px;
            }
          }
        }
      }
      .flex-item-calendar {
        &__card {
          width: 260px;
        }
      }

      mat-slide-toggle {
        label {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  :host {
    .flex-container {
      flex-flow: column wrap;
      .flex-item {
        width: 100%;
        height: auto;
        max-height: initial;
        overflow: initial;
        &__transaction {
          margin-top: 24px;
          .bk-web-accordion {
            .mat-mdc-card-header {
              margin: 0 4px;
            }
            mat-card-title {
              font-size: 14px;
            }
          }
        }
        .bk-web-transaction-type {
          width: 100%;
        }
      }
      .flex-item-calendar {
        &__card {
          width: 100%;
        }
      }

      mat-slide-toggle {
        label {
          color: #fff;
        }
      }
    }
  }
}
