<!-- -->

<div class="flex-container">
  <div class="flex-item flex-item-calendar">
    <mat-slide-toggle [(ngModel)]="isRangeSelected"
      >Range Seletion</mat-slide-toggle
    >
    <mat-card class="flex-item-calendar__card">
      <ng-container *ngIf="!isRangeSelected; else rangeSelector">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </ng-container>

      <ng-template #rangeSelector="">
        <mat-calendar
          [selected]="selectedRangeValue"
          (selectedChange)="selectedChange($event)"
        >
        </mat-calendar>
      </ng-template>
    </mat-card>
  </div>
  <div class="flex-item flex-item__transaction">
    <ng-container
      *ngIf="transactionDetails$ | async as transactionDetails; else loader"
    >
      <mat-accordion
        *ngFor="let days of transactionDetails.days"
        class="bk-web-accordion"
        multi
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ days.id }}</mat-panel-title>
            <mat-panel-description>
              {{ days.transactions.length }} transactions found
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let item of days.transactions">
            <mat-card
              mat-ripple
              (click)="showDetailedPage($event, item)"
              class="bk-web-card"
            >
              <mat-card-header>
                <mat-card-title>
                  <div>
                    {{ item?.otherParty?.name ? item.otherParty.name : "N/A" }}
                  </div>
                  <div>
                    {{
                      (item.currencyCode === "EUR"
                        ? item.amount
                        : item.amount * item.currencyRate
                      ) | currency : "EUR"
                    }}
                  </div>
                  <div>
                    <mat-chip
                      [ngClass]="{ 'credited-chip': item.amount > 0 }"
                      color="#000"
                      >{{ item.amount > 0 ? "Credited" : "Debited" }}</mat-chip
                    >
                  </div>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-template #loader="">
      <mat-card *ngFor="let i of [1, 2, 3]" class="bw-web-skeleton">
        <ngx-skeleton-loader
          class="bw-web-skeleton-loader"
          count="1"
          appearance="line"
          animation="pulse"
        ></ngx-skeleton-loader>
      </mat-card>
    </ng-template>
  </div>
</div>
