<!-- -->

<div class="flex-container">
  <div class="flex-item flex-item-calendar">
    <div class="bk-web-transaction-type">
      <label>Transaction Type</label>
      <mat-radio-group aria-label="Select an mode" [(ngModel)]="selectedMode">
        <mat-radio-button
          *ngFor="let type of modeType"
          (change)="radioChange($event)"
          [value]="type"
          value="all"
          >{{ type }}</mat-radio-button
        >
      </mat-radio-group>
    </div>

    <mat-card *ngIf="selectedMode === 'Range'" class="flex-item-calendar__card">
      <mat-calendar
        class="bk-web-calendar"
        activeDate
        [selected]="selectedRangeValue"
        (selectedChange)="selectedChange($event)"
      >
      </mat-calendar>
    </mat-card>
  </div>
  <div class="flex-item flex-item__transaction">
    <ng-container
      *ngIf="transactionDetails$ | async as transactionDetails; else loader"
    >
      <mat-card
        class="bk-web-no-data"
        *ngIf="transactionDetails.days.length === 0"
      >
        No Data available
      </mat-card>
      <mat-accordion
        *ngFor="let days of transactionDetails.days"
        class="bk-web-accordion"
        multi
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> {{ days.id }}</mat-panel-title>
            <mat-panel-description>
              {{ days.transactions.length }} transactions found
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngFor="let item of days.transactions">
            <mat-card
              mat-ripple
              (click)="showDetailedPage($event, item)"
              class="bk-web-card"
            >
              <mat-card-header>
                <mat-card-title>
                  <div>
                    {{ item?.otherParty?.name ? item.otherParty.name : "N/A" }}
                  </div>
                  <div>
                    {{
                      (item.currencyCode === "EUR"
                        ? item.amount
                        : item.amount * item.currencyRate
                      ) | currency : "EUR"
                    }}
                  </div>
                  <div>
                    <mat-chip
                      [ngClass]="{ 'credited-chip': item.amount > 0 }"
                      color="#000"
                      >{{ item.amount > 0 ? "Credited" : "Debited" }}</mat-chip
                    >
                  </div>
                </mat-card-title>
              </mat-card-header>
            </mat-card>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-template #loader="">
      <mat-card *ngFor="let i of [1, 2, 3]" class="bw-web-skeleton">
        <ngx-skeleton-loader
          class="bw-web-skeleton-loader"
          count="1"
          appearance="line"
          animation="pulse"
        ></ngx-skeleton-loader>
      </mat-card>
    </ng-template>
  </div>
</div>
